---
layout: page
title: Vitalbase - Détection automatique de chutes
excerpt: Autonomie connectée. Solutions innovantes dans le domaine de la Silver Eco et de l'E-santé. 1er en détection automatique de chutes.
---


<div class="container-fluid wide">
  <div class="rev_slider_wrapper">
    <div id="hero-home" class="rev_slider"  data-version="5.0">
      <ul>
        <li data-transition="notransition" data-link="{{site.url}}/">
          <!-- MAIN IMAGE -->
          <img src="//assetsvitalbase.s3.amazonaws.com/img/bg-hero.jpg" data-bgposition="center top" alt="">
            <!--LAYERS-->
            <!--LAYER 1-->
          <div class="tp-caption tp-resizeme"
            data-responsive_offset="on"
            data-x="center"
            data-y="center">
            <h1 class="tp-hero-h1 primary-color text-center">L'autonomie <span class ="tp-hero-connected primary-color-dark">connectée</span></h1>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>


<script>
jQuery(document).ready(function() {
  revapi = jQuery("#hero-home").revolution({
    sliderType:"hero",
    sliderLayout:"fullscreen",
    gridwidth:1900,
    autoHeight: "off",
    fullScreenOffset: "84",
    fullScreenAutoWidth: "off",
    fullScreenAlignForce: "off",
  });
});
</script>




  {% include positioning.html %}
  {% include offers.html %}
