<footer>
  <div class="footer-social">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h2 class="positioning-header primary-color light">Suivez-nous!</h2>
        <ul class="list-inline list-unstyled">
          <li><a target="_blank" href="https://www.twitter.com/vitalbasefrance"><i class="fa fa-hexagon-twitter-o fa-5x fa-social"></i></a></li>
          <li><a target="_blank" href="https://www.linkedin.com/company/vitalbase"><i class="fa fa-hexagon-linkedin-o fa-5x fa-social"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
  <div class="footer-links">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <img class="img-responsive" src="//assetsvitalbase.s3.amazonaws.com/img/vitalbase-baseline-logo.png">
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <h4 class="footer-header">A propos</h4>
          Vitalbase propose des solutions IoT innovantes pour donner plus de sécurité aux personnes sur leurs lieux de vie.
        </div>
        <div class="col-md-2 col-md-offset-1">
          <ul class="list-unstyled">
            <h4 class="footer-header">Produits</h4>
            <li><a href="{{site.url}}/produits/vibby-oak">Vibby OAK</a></li>
            <li><a href="{{site.url}}/produits/vibby-leaf">Vibby LEAF</a></li>
          </ul>

        </div>
        <div class="col-md-4">
          <h4 class="footer-header">Contact</h4>
          <address>
            2, bis rue Nully de Harcourt<br>
            33610 CANEJAN<br>
            contact@vitalbase.fr<br>
            05 57 35 63 70
          </address>
        </div>
      </div>
    </div>
  </div>
  <div class="copyright">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <p>©Telecom Design 2016</p>
        </div>
      </div>
    </div>
  </div>

</footer>
