<section class="positioning section-basic section-basic-white">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <div class="section-head-classic">
          <h2 class="section-title">Vitalbase</h2>
        </div>
        <div class="section-description">
          <p>Dévelope, produit, commercialise des solutions innovantes dans le domaine de la<br> <strong>Silver Eco</strong> et de l'<strong>e-santé</strong>.</p>
          <p>Le détecteur automatique de chute <strong>Vibby</strong> OAK protège déjà <strong>300 000</strong> personnes en<br>Europe, faisant de Vitalbase le leader sur le marché.<br>Ce succès construit sur <strong>10 ans d'expérience</strong> nous a permis d'imaginer une nouvelle<br>gamme de produits favorisant l'autonomie des personnes fragilisées ou dépendantes.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 text-center">
        <div class="positioning-highlight">
          <i class="fa fa-positioning  fa-hexagon-10years-o fa-5x"></i>
        </div>
      </div>
      <div class="col-md-3 text-center">
        <div class="positioning-highlight">
          <i class="fa fa-positioning fa-hexagon-vitalbase-o fa-5x"></i>
        </div>
      </div>
      <div class="col-md-3 text-center">
        <div class="positioning-highlight">
          <i class="fa fa-positioning fa-hexagon-vibbyoak-o fa-5x"></i>
        </div>
      </div>
      <div class="col-md-3 text-center">
        <div class="positioning-highlight">
          <i class="fa fa-positioning fa-hexagon-300-o fa-5x"></i>
        </div>
      </div>
    </div>
    </div>
  </section>
