<nav class="navbar navbar-default navbar-product navbar-fixed-top hidden-xs" style="margin-bottom:0px;">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand navbar-product-brand" href="#"><i class="fa {% if page.product-icon %}{{page.product-icon}}{% endif %} fa-3x"></i></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <!--<li><a href="#">{% if page.product-icon %}{{page.product-name}}{% endif %}</a></li>-->
        <li><a href="#issue">L'enjeu</a></li>
        <li><a href="#solution">La solution</a></li>
        <li><a href="#features">spécifications techniques</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
